body {
    background: white url("images/weather.png") repeat ;
    height: auto;
}

h1 {
    font-family: oxygen;
    font-size: 29pt;
}

#Main {
    background-color: #ffffff;

    padding: 20px;
    padding-bottom: 50px;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;

    text-align: center;
    
    font-family: roboto;
}

p {
    font-size: 20pt;
}

#author {
    text-align: center;
    width: 99%;
    
    position: fixed;
    bottom: 16px;
}

select , input {
    padding: 7px;
    
    font-family: roboto;
    font-size: 16pt;

    border-radius: 9px;
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

select, #submit {
    background-color: f0f0f0;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid black;
    padding: 5px;
}