<head>
  
  <title>
    Electronic Journal
  </title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
</head>
<body>
  <div id="Main">
    <h1>{{student}}</h1>
    <h2>{{subject}}</h2>

    <table>
      <tr>
	<th>Оценка</th>
	<th>Дата</th>
	<th>Описание</th>
      </tr>
      {% for m in marks %}
      <tr>
	<td>{{ m.mark }}</td>
	<td>{{ m.date.day }}.{{m.date.month}}.{{m.date.year}}</td>
	<td>{{ m.explain }}</td>
      </tr>
      {% endfor%}
    </table>
  </div>
  <div id="author">
    Developed by Misiura Rostislav
  </div>
<body>
