<head>
  
  <title>
    Electronic Journal
  </title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
</head>
<body>
  <div id="Main">
    <h1>{{student}}</h1>
    <h2>{{subject}}</h2>

    <table>
      <tr>
	<th>Предмет</th>
      </tr>
      {% for subject in subjects %}
      <tr>
	<td>{{ subject }}</td>
	{% for mark in marks %}
	{% if mark.subject == subject %}
	<td>{{ mark.mark }}</td>
	{% endif %}
	{% endfor %}
      </tr>
      {% endfor%}
    </table>
  </div>
  <div id="author">
    Developed by Misiura Rostislav
  </div>
<body>
