<head>
  <title>
    Electronic Journal
  </title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
</head>
<body>
  <div id="Main">
    <h1>Electronic Journal</h1>

    <form action="{% url 'journal:detail' %}" method="post">
      {% csrf_token %}
      <div id="form">
	<p>
	  <!--
	  Класс:
	  <select name = "class" onchange = "">
	    {% for c in classes %}
	    <option value={{c.id}}>{{c}}</option>
	    {% endfor %}
	  </select>
	  -->
	  Ученик:
	  <select name = "student">
	    {% for s in students %}
	    <option value={{s.id}}>{{s}}</option>
	    {% endfor %}
	  </select>
	</p>
	
	<p>Предмет:
	  <select name = "subject">
	    <option value=-1>Показать все предметы</option>
	    {% for s in subjects %}
	    <option value={{s.id}}>{{s}}</option>
	    {% endfor %}
	  </select>
	</p>

	<p>Пароль:
	  <input type="password" name="password"></input>
	</p>
      </div>
      <input id="submit" type="Submit" value="Подтвердить" >
    </form>
  </div>
  <div id="author">
    Developed by <a href="#">Misiura Rostislav</a>
  </div>
</body>
