<head>
  <title>
    Electronic Journal
  </title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
</head>
<body>
  <div id="Main">
    <h1>Неправильный пароль</h1>
  </div>
  <div id="author">
    Developed by Misiura Rostislav
  </div>
</body>
